<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shortener.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Url Shortener</h1>
    <hr />
        <main>
            @RenderBody()
        </main>
    <footer>
        <hr />
        <span> Created by: Krzysztof Myjak</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
